/* WELCOME COLOR : #745b37 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    outline: none;
    border: none;

}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;

}

section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(01.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    

}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 5px solid rgb(191, 15, 15);
    border-radius: 40px;
    padding-bottom: 5px;

}

ul{
    display: flex;
}

li{
   margin-left: 27px;
  
   }

   /* home'daki kahve çekirdeği  ayrı yazma kodu */
/* li:first-child{
    margin-right: 70px;
} */


a{
    color: #000;
    font-weight: bold;
    font-size: 15px;

}

.header-text{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateX(+50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
           
}

h1{
    font-size: 5 2rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #745b37;

}
.first-letter{
    font-size: 10.3rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #745b37;
}
h3{
    margin-bottom: 25px;
    font-size: 22px;

}

.btn-HilalPark{
    display: block;
    background-color: #745b37;
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
}

.btn-HilalPark::after{
    content: "TIKLA";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #5b2a02;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;

}
.btn-HilalPark:hover::after{
    top: 0;
    

}

 /* about start */

 .about{
     margin-bottom: 150px;
 }

 .about-tittle{
     margin: 60px 0;

 }

.about-tittle h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;

}


.about-tittle h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}


.about-img {
    width: 40%;
    
}

.about-img img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.about-text{
    width: 50%;
}

h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: #745b37;
    font-family: "Herr Von Muellerhoff", cursive;
    letter-spacing: 0.5rem;
    font-weight: 100;
}

#asteriks{
    color: #745b37;
    margin-bottom: 25px;
    text-align: center;
}

.about-text p{
    font-size: 15px;
    text-align: center;
    color: #2c2727;

}
/* about finish */



/* porfolyo */

.portfolio{
    display: flex;
    flex-wrap: wrap;

}

.portfolio-items{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
    
}

.portfolio-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #5b2a02;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.portfolio-items:hover .overlay{
    top: 0;

}

.portfolio-items:hover img{
    transform: scale(1.1);
}

/* contact start */


.contact{
    padding: 10px 0;

}

.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;


}

.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02dd;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}


.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}


.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-bottom: 30px;
    color: #5b2a02;

}

.contact-item p{
    font-size: 14px;
    line-height: 33px;
}

/* FOOTER */

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}   


.footer h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.footer{
    background-color: #000;
}

.footer-copyright{
    color: #fff;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 13px;
    margin-bottom: 25px;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     

}

.footer-social i{
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px;
   
}


.footer-social:first-child{
    margin-left: 60px;
}

#menu-icon{
    font-size: 25px;
    display: none;
    margin-left: 20px;

}
/* MENU */

@media only screen and (max-width:800px){
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #2b1402da;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
        

    }
    .header-menu ul li{
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
    .header-menu ul li a{
        color: #fff;
    }
    .header-menu #menu-icon{
        display: block;
        cursor: pointer;
    }
}


/* ABOUT */

@media only screen and (max-width:990px){
    .about-img{
        width: 100%;
        margin-bottom: 30px;

    }

    .about-text{
        width: 100%;
    }
}

/* .portfolio */

@media only screen and (max-width:990px){
    .portfolio .portfolio-items{
        flex-basis: 50%;

    }
}

@media only screen and (max-width:580px){
    .portfolio .portfolio-items{
        flex-basis: 100%;
    }
}

@media only screen and (max-width:580px){
    .contact-content{
        flex-direction: column;
    }
    .contact-item{
        margin-top: 30px;
    }
    .contact-item p{ 
        width: 100%;
        text-align: center;

    }
}